<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Inverted Index - Raphael Ifiok Akpan</title>

     <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="public/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="public/js/bootstrap.min.js"></script>
    <script src="public/js/angular.min.js"></script>
    <script src="public/js/script.js"></script>
    <script src="../inverted-index.js"></script>
    <script src="public/app.js"></script>

    <link href="public/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="public/css/style.css">
  </head>

  <body ng-app="IndexApp">
      <!--Header-->
    <header>
      <!--Navigation Bar-->
      <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <a href="#" class="navbar-brand">ANDELA</a>
          </div>

          <div class="navbar-header navbar-right">
            <a href="#" class="navbar-brand">| Raphael Akpan - Andela Developer |</a>
          </div>
        </div>
      </div>

      <div class="jumbotron">
        <div class="container">
          <h1>Inverted Index </h1>
        </div>
      </div>
    </header>
    <!--End of Header-->

    <div class="container" ng-controller="fileController">
      <div class="text-center center">
        <div class="well">
            <h2 class="title panel-heading"> Upload Your JSON Files and Search </h2>
          <hr />
            <label class="btn btn-success btn-lg"
                for="file-selector" ng-hide="upload">
              <input id="file-selector" type="file"
                file-model="fileToUpload" style="display:none;"
                ngf-pattern="'application/json'"
                accept="application/json"
                />
                Browse File...
            </label>
            <button ng-click="uploadFile()" ng-hide="upload"
              class="btn btn-primary btn-lg">
              Upload File
            </button>
            <button ng-click="createInd()" ng-hide="create"
              class="btn btn-primary btn-lg">
              Create Index
            </button>
            <br /> <br />
            <p class="label label-success" id="msg"></p>
        </div>
      </div>

      <!--Display Index-->
      <hr />
          <div class="well panel panel-default col-md-8 panel-success">
            <div class="panel-heading">
              <h2 class="panel-title text-center">File: {{files[index - 1]}}</h2>
            </div>
            <div class="panel-body">

            <table class="table table-striped table-responsive table-hover">
              <tr class="success">
                <th></th>
                <th>Term</th>
                <th>Doc-1</th>
                <th>Doc-2</th>
              </tr>

              <!--Display Index-->
              <tr ng-repeat="term in terms">
                <td><span class="glyphicon glyphicon-option-horizontal"></span></td>
                <td>
                  {{term}}
                </td>
                <td><span class="glyphicon
                  {{indexMap[index][term][0]==1?
                   'glyphicon-ok' : ''}}">
                  </span>
                </td>
                <td><span class="glyphicon
                  {{(indexMap[index][term][0]== 2 ||
                  indexMap[index][term][1]== 2)?
                  'glyphicon-ok' : ''}}">
                  </span>
                </td>
              </tr>
            </table>
          </div>
            <div class="panel-heading">
            <!--Search Button-->
              <div class="input-group">
                    <input type="text" class="form-control"
                       placeholder="Search Terms" id="search-input"
                       ng-model="searchInput">
                    <a class="input-group-addon btn btn-primary btn-lg"
                      ng-click="search()">
                      <span class="glyphicon glyphicon-search"></span>
                    </a>
              </div>
            </div>
            <hr />

            <!--Display Search Result-->
            <div class="well panel panel-default searchPanel panel-success">
              <h3> Search Resullts: </h3>
            <div class="panel-heading">
              <h2 class="panel-title text-center">File: {{files[index - 1]}}</h2>
            </div>
            <div class="panel-body">

            <table class="table table-striped table-responsive table-hover">
              <tr class="success">
                <th>Searched Term</th>
                <th>Doc-1</th>
                <th>Doc-2</th>
              </tr>

              <!--Display Index-->
              <tr ng-repeat="term in searchTerms">
                <td>
                  {{term}}
                </td>
                <td><span class="glyphicon
                  {{searchResult[0]==1?
                   'glyphicon-ok' : ''}}">
                  </span>
                </td>
                <td><span class="glyphicon
                  {{(searchResult[0]== 2 ||
                  searchResult[1]== 2)?
                  'glyphicon-ok' : ''}}">
                  </span>
                </td>
              </tr>
            </table>
          </div>
        </div>
        </div>

          <!--Display Uploaded Files-->
          <div class="well col-md-4">
            <div class="panel panel-default panel-success">
            <div class="panel-heading">
              <h2 class="panel-title text-center">Uploaded Files</h2>
            </div>
            <div class="panel-body">
              <ul class="list-group" ng-repeat="file in files">
                <li class="list-group-item"><button
                  class="btn btn-primary btn-block btn-lg" ng-model="myFile"
                  ng-click="display(file)">
                  {{file}}</button></li>
              </ul>
            </div>
          </div>
          </div>
  </div>

  </div>
   <!-- Fixed Footer -->
   <div class="navbar navbar-inverse" role="navigation">
    <div class="container">
      <div class="navbar-text pull-left">
        <p>&copy; 2016 #TIA.</p>
      </div>
      <div class="navbar-text pull-right">
        <p> Raphael Ifiok Akpan
      </div>
    </div>
   </div>
   <!-- End of Footer -->

  </body>
</html>