body {
    font-family: Candara;
}
.label-info {
    font-size: 120%;
}

.center {
    width: 60%;
    margin: auto;
}

.btn {
    height: 50px;

    font-size: 140%;
}

#search-input {
    width: 450px;
    height: 50px;

    font-size: 140%;
}
.search-btn {
    width: 80px;

    font-size: 200%;
}

.input-group {
    margin: auto;
}

.index-contain {
    width: 80%;
    margin: auto;
}
.well {
    background-color: AliceBlue;
}

.navbar-brand {
    font-size: 150%;
}

.jumbotron {
    color: AliceBlue;
    background-color: #36a;
}

.searchPanel {
    width: 90%;
    margin: auto;
}

.title {
    font-size: 250%;
    font-weight: bold;

    color: #36a;
}

.all-files {
    font-size: 150%;
}
